extends layout
block content
  h1= title
  p Welcome to #{title}
  form(id="form") 
    input(type='file' id="file" placeholder='提交文件')
  <script type="text/javascript" src="javascripts/upload.js"></script>
